@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .selectedProductFrame {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        display: none; /* Ukryj ramkę początkowo */
    }

    #commonFrame {
        display: block; /* Ramka widoczna od początku */
    }

    .productRow {
        display: flex;
        justify-content: space-between;
    }

    .productColumn {
        flex: 1;
        padding: 5px;
        border: 1px solid #ccc;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var addButtonList = document.querySelectorAll(".addProductButton");

        addButtonList.forEach(function (button) {
            button.addEventListener("click", function () {
                var productId = button.getAttribute("data-product-id");
                var productName = button.getAttribute("data-product-name");
                var productUnit = button.getAttribute("data-product-unit");

                // Przelicz cenę na wartość zmiennoprzecinkową w złotówkach
                var productPriceInGrosz = parseFloat(button.getAttribute("data-product-price")) || 0;
                var productPrice = (productPriceInGrosz / 100).toFixed(2);

                addProductToFrame(productId, productName, productUnit, productPrice);
            });
        });
    });

    function addProductToFrame(productId, productName, productUnit, productPrice) {
        var frame = document.getElementById("commonFrame");

        if (!frame) {
            frame = document.createElement("div");
            frame.id = "commonFrame";
            frame.classList.add("selectedProductFrame");
            document.getElementById("selectedProductsContainer").appendChild(frame);

            // Dodaj nagłówki kolumn
            var headerRow = document.createElement("div");
            headerRow.classList.add("productRow", "productHeader");

            var nameHeader = document.createElement("div");
            nameHeader.classList.add("productColumn");
            nameHeader.innerHTML = "Nazwa Produktu";

            var priceHeader = document.createElement("div");
            priceHeader.classList.add("productColumn");
            priceHeader.innerHTML = "Cena za Jednostkę";

            var unitHeader = document.createElement("div");
            unitHeader.classList.add("productColumn");
            unitHeader.innerHTML = "Jednostka";

            var quantityHeader = document.createElement("div");
            quantityHeader.classList.add("productColumn");
            quantityHeader.innerHTML = "Ilość";

            var sumHeader = document.createElement("div");
            sumHeader.classList.add("productColumn");
            sumHeader.innerHTML = "Suma";

            var actionHeader = document.createElement("div");
            actionHeader.classList.add("productColumn");
            actionHeader.innerHTML = "Akcje";

            headerRow.appendChild(nameHeader);
            headerRow.appendChild(priceHeader);
            headerRow.appendChild(unitHeader);
            headerRow.appendChild(quantityHeader);
            headerRow.appendChild(sumHeader);
            headerRow.appendChild(actionHeader);

            frame.appendChild(headerRow);
        }

        var existingProduct = frame.querySelector('.productRow[data-product-id="' + productId + '"]');

        if (existingProduct) {
            var quantityColumn = existingProduct.querySelector('.quantityColumn input');
            var currentQuantity = parseInt(quantityColumn.value) || 0;
            quantityColumn.value = currentQuantity + 1;

            var sumColumn = existingProduct.querySelector('.sumColumn');
            var currentSum = parseFloat(sumColumn.innerHTML) || 0;
            sumColumn.innerHTML = (currentSum + parseFloat(productPrice)).toFixed(2);
        } else {
            var productElement = document.createElement("div");
            productElement.classList.add("productRow");
            productElement.setAttribute("data-product-id", productId);

            var nameColumn = document.createElement("div");
            nameColumn.classList.add("productColumn");
            nameColumn.innerHTML = productName;

            var priceColumn = document.createElement("div");
            priceColumn.classList.add("productColumn");
            priceColumn.innerHTML = parseFloat(productPrice).toFixed(2);

            var unitColumn = document.createElement("div");
            unitColumn.classList.add("productColumn");
            unitColumn.innerHTML = productUnit;

            var quantityColumn = document.createElement("div");
            quantityColumn.classList.add("productColumn", "quantityColumn");
            var quantityInput = document.createElement("input");
            quantityInput.type = "number";
            quantityInput.min = "1";
            quantityInput.value = "1";
            quantityInput.addEventListener("input", function () {
                updateQuantity(productElement);
            });
            quantityColumn.appendChild(quantityInput);

            var sumColumn = document.createElement("div");
            sumColumn.classList.add("productColumn", "sumColumn");
            sumColumn.innerHTML = parseFloat(productPrice).toFixed(2);

            var actionColumn = document.createElement("div");
            actionColumn.classList.add("productColumn", "actionColumn");
            var deleteButton = document.createElement("button");
            deleteButton.innerHTML = "Usuń";
            deleteButton.classList.add("btn", "btn-outline-danger"); // Dodaj klasę Bootstrapa
            deleteButton.addEventListener("click", function () {
                deleteProduct(productElement);
            });

            actionColumn.appendChild(deleteButton);

            productElement.appendChild(nameColumn);
            productElement.appendChild(priceColumn);
            productElement.appendChild(unitColumn);
            productElement.appendChild(quantityColumn);
            productElement.appendChild(sumColumn);
            productElement.appendChild(actionColumn);

            frame.appendChild(productElement);
        }

        frame.style.height = frame.scrollHeight + "px";

        // Aktualizuj sumę
        updateTotalSum();
    }

    function updateQuantity(productElement) {
        var quantityColumn = productElement.querySelector('.quantityColumn input');
        var currentQuantity = parseInt(quantityColumn.value) || 0;
        var sumColumn = productElement.querySelector('.sumColumn');
        var priceColumn = productElement.querySelector('.productColumn:nth-child(2)');

        var productPrice = parseFloat(priceColumn.innerHTML) || 0;
        sumColumn.innerHTML = (currentQuantity * productPrice).toFixed(2);

        // Aktualizuj sumę
        updateTotalSum();
    }

    function deleteProduct(productElement) {
        var frame = document.getElementById("commonFrame");
        frame.removeChild(productElement);

        // Aktualizuj sumę
        updateTotalSum();
    }

    function updateTotalSum() {
        var frame = document.getElementById("commonFrame");

        if (frame) {
            var sumElements = frame.querySelectorAll('.sumColumn');
            var totalSum = 0;

            sumElements.forEach(function (sumElement) {
                totalSum += parseFloat(sumElement.innerHTML) || 0;
            });

            var totalSumColumn = document.getElementById("totalSumColumn");

            if (totalSumColumn) {
                totalSumColumn.innerHTML = totalSum.toFixed(2);
            }

            // Dostosuj wygląd po aktualizacji sumy
            adjustLayout();
        }
    }

    function adjustLayout() {
        var frame = document.getElementById("commonFrame");
        if (frame) {
            // Zaktualizuj wysokość ramki po aktualizacji sumy
            var sumElements = frame.querySelectorAll('.sumColumn');
            var totalSum = 0;

            sumElements.forEach(function (sumElement) {
                totalSum += parseFloat(sumElement.innerHTML) || 0;
            });

            // Dostosuj wysokość ramki na podstawie liczby produktów i sumy
            var numberOfProducts = frame.querySelectorAll('.productRow').length;
            var frameHeight = 40 + Math.max(30 * numberOfProducts, 30); // Minimalna wysokość to 40, ale może być większa w zależności od liczby produktów

            // Wartość 30 to wysokość każdego wiersza, możesz dostosować tę wartość według własnych preferencji
            var newHeight = Math.max(frameHeight, totalSum > 0 ? frameHeight + 50 : frameHeight); // Dodaj dodatkową wysokość, gdy suma jest większa niż 0

            // Dostosuj również wysokość na podstawie przycisku "Del"
            var deleteButtons = frame.querySelectorAll('.btn.btn-outline-danger');
            deleteButtons.forEach(function (deleteButton) {
                var deleteButtonHeight = deleteButton.offsetHeight;
                newHeight += deleteButtonHeight;
            });

            frame.style.height = newHeight + "px";
        }
    }
</script>





@{
}
<h1>Lista Produktów</h1>
<a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Create">Dodaj nowy Produkt</a>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(a => a[0].Name)
                </th>

                <th>
                    @Html.DisplayNameFor(a => a[0].Price)
                </th>

                <th>
                    @Html.DisplayNameFor(a => a[0].Category)
                </th>

                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class=@(item.Name.EndsWith("a")? "text-primary":"text-secondary")>
                        @item.Name
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Category.GetDisplayName()
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-action="Update" asp-route-id=@item.Id>Edycja</a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id=@item.Id>Szczegóły</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id=@item.Id>Usuń</a>
                        <a class="btn btn-outline-warning addProductButton" data-product-price="@((int)(item.Price * 100))" data-product-name="@item.Name" data-product-id="@item.Id">+</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="selectedProductsContainer" class="mt-3">
        <div class="selectedProductFrame" id="commonFrame">
            <div class="productRow productHeader">
                <div class="productColumn">Nazwa Produktu</div>
                <div class="productColumn">Cena za Jednostkę</div>
                <div class="productColumn">Jednostka</div>
                <div class="productColumn">Ilość</div>
                <div class="productColumn">Suma</div>
                <div class="productColumn">Akcje</div>
            </div>
            <!-- Tutaj będą dodawane produkty -->
        </div>
        <!-- Dodaj wiersz z "SUMA" i sumą -->
        <div class="productRow productFooter">
            <div class="productColumn" colspan="4">SUMA</div>
            <div class="productColumn" id="totalSumColumn">0.00</div>
        </div>
    </div>
}